rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /events/{docId} {
      allow read, write: if true;
    }

    match /venues/{docId} {
      allow read, write: if true;
    }

    match /pending_events/{docId} {
      allow read, write: if true;
    }
  }
}
